<div id="regFormDiv" class="modal registration-form-div">
<div class="close-modal">
<a id="loginModalAnchor" class="modal-anchor" href="#">
                <span></span>
                <span></span></a>
</div>
    <h1>Login</h1>
    <form id="loginForm" method="POST" action="<%= logAction %>">
        <div class="form-input-div">
            <input type="email" name="email" placeholder="email" required />
        </div>
        <div class="form-input-div">
            <input type="password" name="password" placeholder="password" required />
        </div>
        <div class="form-input-div form-submit-btn-div">
            <button id="loginBtn" type="submit" class="btn registration-form-submit-btn">Login</button>
            <button id="gotoRegisterBtn" type="button" class="btn registration-form-submit-btn">Register</button>
        </div>
    </form>
    <div id="logErrsDiv" class="registration-errors-div <%= showErrs %>">
      <% if(typeof message !== 'undefined' ) { %>
          <p><%= message %></p> 
      <% } %>
    </div>
</div>