<div id="regFormDiv" class="registration-form-div">
<div class="close-modal">
<a id="loginModalAnchor" class="modal-anchor" href="#">
                <span></span>
                <span></span></a>
</div>
    <h1>Login</h1>
    <form method="POST" action="auth/login/sign-in">
        <div class="form-input-div">
            <input type="email" name="email" placeholder="email" required />
        </div>
        <div class="form-input-div">
            <input type="password" name="password" placeholder="password" required />
        </div>
        <div class="form-input-div form-submit-btn-div">
            <button type="submit" class="btn registration-form-submit-btn">Submit</button>
        </div>
    </form>
</div>