<div id="regFormDiv" class="registration-form-div">
<div class="close-modal">
<a id="registrationModalAnchor" class="modal-anchor" href="#">
                <span></span>
                <span></span></a>
</div>
    <h1>Register</h1>
    <form method="POST" action="auth/register/form">
        <div class="form-input-div">
            <input type="text" name="name" placeholder="name" required />
        </div>
        <div class="form-input-div">
            <input type="email" name="email" placeholder="email" required />
        </div>
        <div class="form-input-div">
            <input type="password" name="password" placeholder="password" required />
            <input type="password" name="password" placeholder="resubmit password" required />
        </div>
        <div class="form-input-div form-submit-btn-div">
            <button id="registerBtn" type="submit" class="btn registration-form-submit-btn">Register</button>
        </div>
    </form>
</div>