<%- include('./partials/admin-nav.ejs') %>
<div class="admin-log-wrapper">
<div class="admin-ex-modal <%= showLog %>">
<% if ( exerciseModal === "yes" ) { %>
    <%- include('./partials/my-exercise-log.ejs') %>
<% } %>
</div>
<div class="admin-main-modal">
<%- include('./partials/admin-user-modal.ejs') %>
</div>
</div>
<script defer src="/assets/javascript/admin.js"></script>