.btn {
    font-size: 1.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: none;
}

.btn:hover {
    cursor: pointer;
    outline: none;
}

.btn:focus {
    outline: none;
}

.nav-btn {
    color: white;
    background-color: black;
    padding: 0.5em 1em 0.5em 1em;
    margin-right: 2em;
    font-size: 2em;
}

.nav-btn:hover {
    background-color: darkgray;
}

.nav-btn:focus {
    color: black;
    background-color: darkgray;
}

.exercise-input-btn {
    color: white;
    background-color: black;
}

.exercise-input-btn:hover {
    background-color: darkgray;
}

.exercise-input-btn:focus {
    color: black;
    background-color: darkgray;
}

.exercise-update-btn {
    font-size: 1em;
    padding: 0.35em;
    background-color: black;
    color: white;
}

.exercise-update-btn:hover {
    background-color: darkgray;
}

.exercise-update-btn:focus {
    color: black;
    background-color: darkgray;
}

.update-exercise-btn, .exercise-delete-btn {
    margin-bottom: 0.5em;
    color: white;
    background-color: black;
}

.update-exercise-btn:hover, .exercise-delete-btn:hover {
    background-color: darkgray;
}

.update-exercise-btn:focus, .exercise-delete-btn:focus {
    color: black;
    background-color: darkgray;
}

.admin-landing-nav-btn {
    background-color: lightgray;
    color: white;
    border: 1px solid white;
}

.admin-landing-nav-btn:focus {
    color: black;
    background-color: white;
}

.admin-btn {
    background-color: black;
    color: white;
}

.admin-btn:hover {
    background-color: darkgray;
}

.admin-btn:focus {
    color: black;
    background-color: darkgray;
}

.table-btn {
    background-color: white;
    font-size: inherit;
    width: 100%;
}

.table-btn:hover {
    background-color: lightgray;
}

.table-btn:focus {
    background-color: darkgray;
}

.update-user-btn, .user-delete-btn {
    margin-bottom: 0.5em;
    color: white;
    background-color: black;
}

.update-user-btn:hover, .user-delete-btn:hover {
    background-color: darkgray;
}

.update-user-btn:focus, .user-delete-btn:focus {
    background-color: darkgray;
    color: white;
}

.admin-exercise-update-btn {
    font-size: inherit;
    width: 100%;
    background-color: white;
}

.admin-exercise-update-btn:hover {
    background-color: lightgray;
}

.admin-exercise-update-btn:focus {
    background-color: darkgray;
}