.close-modal {
    width: 100%;
    height: 100%;
    max-height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    margin: .5em;
}

.modal-anchor {
    cursor: pointer;
    padding: 8px 5px;
    background-color: black;
    color:white;
    text-align:center;
    border-radius: .5em;
    
}

.modal-anchor span{
    background: black;
    width: 26px;
    height: 1px;
    border: 2px solid white;
    margin-bottom: 6px;
    display: block;
    border-radius: .5em;
    box-shadow: 0 8px 16px 0 darkgray;

}

.modal-anchor span:nth-child(1) {
    border: 2px solid white;
    transform: translate(0px, 6px) rotate(45deg);
    background-color: white;
}

.modal-anchor span:nth-child(2) {
    transform: translate(0px, -4px) rotate(-45deg);
    background-color: white;
}

.modal-anchor:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: inset 0 8px 16px 0 darkgray;
}

.modal-anchor:hover span:nth-child(1){
    color: black;
    border: 2px solid black;
}

.modal-anchor:hover span:nth-child(2) {
    color: black;
    border: 2px solid black;
}