
.nav {
    position: absolute;
    z-index: 15;
    top: 0%;
    left: 0%;
    height: 12%;
    min-width: 100vw;
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}