.user-log-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.user-log-table-wrapper {
    border: 1px solid black;
    width: 100%;
    overflow: scroll;
}

.user-log-table-wrapper > table {
    border: none;
    padding: none;
    width: 100%;
    overflow: hidden;
}

.modal-anchor-header-wrapper {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-anchor-header-wrapper > .close-modal {
    padding: none;
    margin: none;
}

.admin-log-wrapper{
    margin-top: 8%;
    margin-bottom: 6%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.admin-ex-modal {
    width: 48vw;
}

.admin-main-modal {
    width: 48vw;
}

@media only screen and (max-width: 1200px) {
    .admin-log-wrapper {
        margin-top: 22%;
        margin-bottom: 18%;
    }

    .user-log-container {
        width: 100%;
        height: 60vh;
    }

}