.landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-registration-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    display: flex;
}

.registration-div {
    display: flex;
    position: absolute;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-div {
    display: flex;
    position: absolute;
    z-index: 60;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}