.exercise-input-btn-div {
    margin-bottom: 0.75em;
    margin-top: 1em;
}

.my-exercises-btn-div {
    margin-bottom: 1.25em;
}

.exercise-wrapper {
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
}

.my-exercise-log-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
}
/* needs media query */
.exercise-log-container {
    margin-top: 10%;
    margin-bottom: 8%;
    background-color: white;
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
    overflow: scroll;
}

.exercise-update-wrapper {
    margin-bottom: 1em;
    border: 1px solid black;
}



