@import './login/registration-login-form.css';
@import './site/initial-landing.css';
@import './shared/modal.css';
@import './shared/nav.css';
@import './shared/button.css';
@import './site/user-landing.css';
@import './shared/header.css';
@import './shared/table.css';

*, body, html, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visible {
    visibility: visible;
}

.hidden {
    display:none;
}