
.form-input-div {
    display: flex;
    flex-direction: column;
}

.form-input-div > input {
    font-size: 1.25em;
    padding: 0.25em;
    margin:0.25em; 
}

.registration-form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    align-self: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    background-color: white;
}

.registration-form-div > h1 {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

.registration-form-submit-btn {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

