<div class="exercise-log-container">
<div class="close-modal">
<a id="exTableModalAnchor" class="modal-anchor" href="#">
                <span></span>
                <span></span></a>
</div>
    <div class="header-wrapper">
    <h2><%= name %></h2>
    <p><%= id %></p>
    </div>
    <div class="exercise-log-table-wrapper">
        <table class="exercise-log-table">
            <tr>
                <th>Date</th>
                <th>Exercise</th>
                <th>Number of times</th>
                <th>Duration</th>
            </tr>
            <tr>
                <td>09/03/2020</td>
                <td>Jumping Jacks</td>
                <td>120</td>
                <td>10 minutes</td>
            </tr>
        </table>
    </div>
</div>